body {
    background-color: antiquewhite;
    border: solid black;
    border-width: 10px 10px;
}

h1 {
    font-size: 40px;
    font-weight: 100;
    color: black;
    background-color: bisque;
}

h2 {
    font-size: 40px;
    font-weight: 100;
    color:  black;
    background-color: bisque;
}

img {
    height: 100px;
    width: 75px;
}

.container {
    text-align: center;
}

h3 {
    font-size: 30px;
    font-weight: 100;
    color: black;
    background-color: bisque;
}

h4 {
    font-size: 30px;
    font-weight: 100;
    color: black;
    background-color: bisque;
}

  a {
    text-decoration: none;
  }

  * {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  ul {
    text-decoration: none;
    list-style-type: none;
  }




